*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Rubik', sans-serif;
}
:root{
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
--color-f5f5f7: #f5f5f7;
--color-ededed: #ededed;

}

.section-heading{
  font-size: 25px;
  line-height: 32px;
  font-weight: 500;
}

a {
  text-decoration: none;
  display: inline-block;
}

.gap-10 {
  gap: 10px;
}

.gap-15{
  gap: 15px;
}

.gap-30{
  gap: 30px;
}

.button{
  background-color: var(--color-3b4149);
  color: white;
  font-size: 14px;
}

.button:hover{
  background-color: bisque;
  color: #131921;
}
/*header*/
.header{
  padding: 15px;
  background-color: var(--color-131921);
}

.lower-header {
  background-color: var(--color-232f3e); 
  padding: 13px;
}

.bg-gray-200 {
  background-color: #f2f2f2; 
}

.rounded-full {
  border-radius: 15px;
}


.bg-gray-200 {
  width: 100px;
}

/* Media query for responsive styles */
@media screen and (max-width: 768px) {
  .bg-gray-200 {
    width: 120px;
  }
}


.menu-bottom {
  justify-content: center;
}


.menu-links a {
  margin-right: 20px; 
  color: #fff; 
  font-size: 16px; 
}

@media screen and (max-width: 768px) {
  .menu-links {
    justify-content: center;
  }

  .menu-links a {
    margin-right: 10px; 
  }
}


.header-upper-content {
  justify-content: space-between;
  gap: 30px;
}

.header-logo img {
  width: 100px; 
}

.header-search {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header-toggle {
  display: none;
}

@media screen and (max-width: 768px) {
  .header-upper-content {
    flex-direction: column;
    align-items: center;
  }
  .header-logo{
    margin-top: 10%;
  }
  .header-logo,
  .header-search,
  .header-links,
  .header-toggle {
    text-align: center;
  }

  .header-toggle {
    display: flex;
    cursor: pointer;
  }

  .header-links {
    display: none;
    align-items: center;
  }

  .header-links-responsive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    gap: 15px;
    align-items: center; 
  }

  .lower-header .menu-links {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

/*footer*/
.footer {
  background-color: var(--color-131921);
  color: white;
  padding: 30px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 0 0 calc(25% - 30px);
  margin: 15px;
}

.footer-title {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.footer-address {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.footer-contact {
  font-size: 14px;
  display: block;
  margin-bottom: 8px;
  color: #fff;
  text-decoration: none;
}

.footer-link {
  font-size: 16px;
  display: block;
  margin-bottom: 8px;
  color: #fff;
  text-decoration: none;
}

.footer-social {
  font-size: 16px;
  display: block;
  margin-bottom: 8px;
  color: #fff;
  text-decoration: none;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center; 
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
}

.social-icons {
  display: flex;
}

.social-icon {
  font-size: 24px;
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
}

.footer-text {
  font-size: 16px;
  color: #fff;
  text-align: center; 
  margin-top: 15px;
}


/*home wrapper1*/

.small-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  overflow: hidden; 
  border-radius: 10px;
}

.small-banner img {
  width: 100%;
  height: auto;
  border-radius: 10px; 
}

.small-banner-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  border-radius: 0 0 10px 10px; 
}
.small-banner-content {
  text-align: justify;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px; 
}

.small-banner-content h4 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-bf4800);
  margin: 0 0 0.75rem;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.small-banner-content h5 {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 500;
  letter-spacing: -1px;
  text-transform: none;
}

.small-banner-content p {
  font-size: 0.875rem;
  letter-spacing: 0.4px;
  line-height: 1.4;
  color: #131921;
}


/*home wrapper2*/

.home-wrapper-2{
  background-color: var(--color-f5f5f7);
}

/*categories*/

.categories{
  background-color: white;
  box-shadow: 0 0 0px #0000001a;
  padding: 12px;
}

.categories > div{
  width: 25%;
  padding: 10px 10px 10px 20px;
}

.categories>div>div{
  width: 60%;
}

.categories-wrapper {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px; 
}


.category {
  flex: 0 0 calc(20% - 1.5rem); 
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (max-width: 767px) {
  .categories-wrapper {
    flex-direction: column;
  }

  .category {
    flex: 0 0 100%;
  }
}

.category img {
  width: 7rem; 
  height: 7rem;
}

/*marquee*/

.card-wrapper{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

/*blogcard*/

.blog-card{
  background-color: white;
  border-radius: 5px;
}

.blog-card img{
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
}

.blog-content{
  padding: 15px;
}

.blog-content.date{
  font-size: 12px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-3b4149);
  padding: 0;
}

.blog-content h5{
  line-height: 22px;
  color: #3b4149;
  font-size: 22px;
}

.single-blog-card h3{
  font-size: 25px;
  padding: auto;
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
  color: var(--color-3b4149);
}
.single-blog-card p{
  color: var(--color-232f3e);
  font-size: 15px;
}

.single-blog-card a{
  font-size: 15px;
  color: var(--color-3b4149);
}

/*product card*/

.product-card{
  padding: 15px;
  background-color: white;
  box-shadow: #3b4149;
  border-radius: 10px;
  overflow: hidden;
}

.product-card .product-image{
  height: 270px;
}

.product-card .product-image img{
  object-fit: contain;
}

.product-card .product-image > img:last-child{
  display: none;
}
.product-card:hover .product-image > img:nth-child(1){
  display: none;
}

.product-card:hover .product-image > img:last-child{
display: block;
}

.product-card:hover .action-bar{
  right: 10px;
}

.product-card .product-details h6{
color: var(--color-bf4800);
font-size: 12px;
}

.product-card .product-details h5{
  font-size: 15px;
  color: var(--color-131921);
}

.product-card .product-details p.price{
  font-size: 15px;
  color: var(--color-3b4149);
}

.action-bar{
  top: 15%;
  right: -25px;
  transition: 0.4s;
}

.wishlist-icon{
  top: 5%;
  right: 11px;
}

/*special products*/

.special-card{
  padding: 10px;
  border-radius: 10px;
  background-color: #ededed;
}

/*blogcards*/
.card{
  display: inline-block;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  width: 200px;
  padding : 20px;
  margin: 20px;
}

/*contactPage*/

.contact-inner-wrapper{
  padding: 30px 20px;
  border-radius: 10px;
  background-color: var(--color-ededed);
  gap: 15px;
}

.contact-inner-wrapper > div{
  width: 49%;
}

.contact-inner-wrapper ul{
  list-style: none;
}

/*compareProducts*/

.compare-product-card{
  padding: 20px 15px;
  background-color: white;
  border-radius: 10px; 
}
.compare-product-card .cross,
.wishlist-card .cross{
  top: 15px;
  right: 15px;
  width: 20px;
  cursor: pointer;
  padding: 3px;
}

.compare-product-details h5.title ,
.wishlist-card h5.title{
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-3b4149);
}

.compare-product-details h6.price ,
.wishlist-card h6.price{
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}

.compare-product-card .product-detail{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-top: 1px solid var(--color-f5f5f7);
}

/*authcard*/

.auth-card{
  align-items: center;
  padding: 15px;
  background: white;
}

.auth-card h3{
  font-size: 25px;
  font-weight: 500;
  color: var(--color-3b4149);
}

.auth-card .form-control{
  height: 50px;
  background-color: var(--color-f5f5f7);
  border-color: transparent;
}

.auth-card a{
  color: var(--color-3b4149);
}

.auth-card .signup{
  background-color: var(--color-febd69);
  color: var(--color-131921);
}

.auth-card .signup:hover{
  background-color: var(--color-3b4149);
  color: white;
}


/* Login.css */

/* Custom styles for small screens */
@media (max-width: 576px) {
  .col-sm-10 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}


@media (min-width: 577px) and (max-width: 768px) {
  .col-md-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}


@media (min-width: 769px) and (max-width: 992px) {
  .col-lg-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}


@media (min-width: 993px) {
  .container-xxl {
    max-width: 1200px; 
  }

  .auth-card {
    width: 100%; 
  }

  .button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}


/*Policy pages*/

.policy{
  background-color: white;
  padding: 30px;
}

/*cart*/

.cart-wrapper {
  align-items: center;
}

.cart-header {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.cart-col-1,
.cart-col-2,
.cart-col-3,
.cart-col-4 {
  text-align: center;
}

.cart-col-1 {
  display: flex;
  align-items: center;
}

.cart-col-1 img {
  max-width: 70px;
}

.cart-col-2,
.cart-col-4 {
  display: none;
}

.cart-col-3 {
  display: flex;
  align-items: center;
}

.price {
  font-size: 18px;
}

.button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 14px;
  text-align: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

@media (min-width: 768px) {
  .cart-col-1 img {
    max-width: 100px;
  }
  .cart-col-2,
  .cart-col-4 {
    display: block;
  }
  .cart-col-3 {
    flex: 1;
  }

  .price {
    font-size: 20px;
  }

  .button {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .cart-header {
    display: flex;
  }
  .cart-col-1,
  .cart-col-2,
  .cart-col-3,
  .cart-col-4 {
    flex: 1;
  }

  .price {
    font-size: 22px;
  }

  .button {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .cart-wrapper {
    max-width: 1140px;
    margin: 0 auto;
  }

  .price {
    font-size: 24px;
  }

  .button {
    font-size: 20px;
  }
}



/* Custom CSS for adjusting card size */
.blog-wrapper{
  text-align: center;
  align-items: center;
  justify-content: center;
}


.blog-wrapper .row .col-md-6 .mb-4 {
  
  width: 100%;
  max-width: 500px; 
  margin-right: 15px; 
  margin-bottom: 15px; 
}


.blog-wrapper .row .col-md-6 .mb-4:last-child {
  margin-right: 10px;
  margin-left: 3px;
}

.blog-card-content {
  text-align: center;
}


/* Wishlist*/

@media (max-width: 576px) {
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .col-lg-3 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

